<div id="spec"
    data-json = "<%= @spec.json %>"
    ></div>

<div class="vis-container">
  <h3>Is this shape of graph okay?</h3></br>
  <%= form_for @human_filter do |f| %>
  <%= f.hidden_field :spec_id, value: @spec.id %>
  <div id="vis"  ></div>
  <div class="choices-container">


    <div class="choice">
      <label>
        I've never seen before.</br>
        <%= f.radio_button :answer, "never", :required =>"required" %>
      </label>
    </div>

    <div class="choice">
      <label>
        I don't know.</br>
        <%= f.radio_button :answer, "idk", :required =>"required" %>
      </label>
    </div>

    <div class="choice">
      <label>
        Looks good</br>
        <%= f.radio_button :answer, "good", :required =>"required" %>
      </label>
    </div>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
  <% end %>
</div>