<div id="triplet"
    data-id = "<%= @triplet.id %>"
    data-ref-json = "<%= @triplet.ref.json %>"
    data-left-json = "<%= @triplet.left.json %>"
    data-right-json = "<%= @triplet.right.json %>"
    data-compared-result = "<%= @triplet.compared_result %>"
    data-reason = "<%= @triplet.reason %>" ></div>



<div class="vis-container">
  <div id="vis-reference"></div>
  <h3> Which one of belows is easier to understand after reading the upper one?</h3></br>
  <%= form_for @human_answer do |f| %>
  <%= f.hidden_field :triplet_id, value: @triplet.id %>

  <div class="choices-container">

    <div class="choice">

      <label>
        <div id="vis-left"  ></div>
        <%= f.radio_button :answer, "left", :required => "required" do %>
        <%end%>
      </label>
    </div>


    <div class="choice">
      <label>
        <div id="vis-right" ></div>
        <%= f.radio_button :answer, "right", :required =>"required" %>
      </label>
    </div>
  </div>
  <div style="margin: 20px 0;">
    <%= f.submit "Next", class: "btn btn-primary" %><br>
    You've answered <span class="badge"><%= current_user.human_answers.count %></span> triplets.
  </div>
  <% end %>
</div>