<div class="row">
  <div class="col-xs-12">
    <div class="vlr-btn-container">
      <%= link_to "Create", new_embedment_path(), class: "btn btn-primary  " %>
    </div>

    <div class="clearfix"></div>
    <div class="table-responsive">
    <table class="table">
      <tr><th>#</th><th>Title</th><th>Filename</th><th>Last Updated</th><th></th></tr>
    <% @embedments.each do |embedment| %>

      <tr>
        <td><%= embedment.id %></td>
        <td><%= link_to embedment.title, embedment_path(embedment) %></td>
        <td><%= embedment.filename %></td>
        <td><%= embedment.updated_at %></td>
        <td style="display: inline-flex;">


          <%= link_to "Edit", edit_embedment_path(embedment), class: "btn btn-warning btn-xs " %>
          <%= link_to "Delete", embedment_path(embedment), method: "DELETE", class: "btn btn-danger btn-xs" %>

        </td>
      </tr>
    <% end %>
    </table>
    </div>
  </div>
</div>