<!DOCTYPE html>
<html>
<head>
  <title>VLRuler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <%= render partial: "layouts/nav" %>
  <div class="container">

    <% flash.each do |type, message| %>
    <div class="alert  alert-<%= flash_class(type) %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      <div class="box-inner">
        <span class="alert-market">
          <i class="fa <%=flash_icon(type)%>"></i>
        </span>
        <strong><%= type %></strong>
        <%= raw(message) %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <% end %>


    <%= yield %>


  </div>
</body>
</html>
