<!DOCTYPE html>
<html>
<head>
  <title>VLRuler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <div style="margin: 10px;">
      <div class="row">
        <label class="col-xs-5 control-label" style="text-align:right; margin-top: 3pt;">Name : </label>
        <div class="col-xs-2">
          <div class="hidden" id="user-id" data-user-id="<%= @current_user.id %>" ></div>
          <input id="user-name" type="text" value="<%= @current_user.name || @current_user.id %>" class= "form-control input-sm" >
        </div>
        <div class="col-xs-5">
          <input id="update-user-name" type="button" class= "btn btn-default btn-sm" value="Update Name"></input>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>


</body>
</html>
